.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main ul, .main ol {
  margin-left: 1em;
  border: solid 1px red;
  border-left: none;
  border-right: none;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 65%;
  height: 100%;
  flex-direction: row;
  gap: 32px;
  grid-row-start: 2;
}

.main button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--button-primary-hover);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
}

.flexbox {
  width: 35%;
  border-right: #333 solid 2px;
  border-left: #111 solid 2px;
  background-color: #222;
  padding: 16px;
}
